* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 70px;
    background-color: #292929;

    display: flex;
    align-items: center;
    padding: 0 20px;

    color: white;
}

/* 로고박스 */
.logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
/* 메뉴 박스 */
.menu-area {
    /* 여분 공간을 모두 차지 */
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
}

.menu li {
    cursor: pointer;
}

.has-sub {
    position: absolute;
}

.sub-menu {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #292929;

    opacity: 0;
    pointer-events: none;
}

/* 알림박스 */
.notice {
    /* 하위자식이 absolute면 relative 준다. */
    position: relative;
    cursor: pointer;
}

/* 3 빨간 + 동그라미 알림 위에 */
.badge {
    position: absolute;
    top: -8px;
    right: -12px;

    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

}