body {
    margin: 0px;
    padding: 0px;
    /* 높이 = 브라우저 화면 */
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.login-page {
    width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.logo {
    margin-bottom: 40px;
    font-size: 32px;
}

.login-box {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    padding: 50px 70px;
}

.login-form input {
    border: none;
    border-bottom: 1px solid #ddd;
    display: block;
}
