* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* singinbox, singupbox 세로정렬 */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    gap: 10px
}

.singin-box {
    width: 350px;
    border: 1px solid #ddd;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo-area img {
    /* 
    이미지 크기 지정시,
    width or height 하나만 지정해서 사용
    -> 비율에 맞춰서 축소, 확대
   */
    width: 100%;
}

.form-area {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-area input {
    height: 35px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
}

.form-area input:focus {
    border: 1px solid #4cb5f9;
}

.form-area button {
    height: 35px;
    background-color: #4cb5f9;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

.divider {
    width: 100%;
}

/* divider, or-box -> 가상선택자(::after, ::before) */
.or-text {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #777;
    cursor: default;
}

/* 좌우 선 */
.or-text::after,
.or-text::before {
    content: "";
    /* 남은 여백 분배 비율 */
    flex-grow: 1;
    /* 
    width는 여백 전체 & height 1px 주고
    배경색으로 직선 표현
    */
    height: 1px;
    background-color: #dbdbdb;
}

.sub-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.facebook-login {
    color: #3151ac;
    font-weight: 700;
    cursor: pointer;
}

.forgot {
    color: #00376b;
    font-size: 12px;

}

/* 회원가입 */
.singup-box {
    width: 350px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    cursor: default;
    font-size: 12px;
}

.singup-link {
    color: #0095f6;
    /* 강조해야하는 부분에 굵게 */
    font-weight: 700;
}